html, body {
  height: 100%;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#root{
  height: 100%;
}
.wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
  }
.navMenuStyle{
    flex: 0 0 auto;
}
.mainContent{
    flex: 1 0 auto;
    flex-basis: auto;
}
.footerStyle{
    flex: 0 0 auto;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    height: 200px;
    background-color: black;
}
.ulMenuStyle {
    list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 50px;
	background-color: black;
}

.liMenuStyle {
	display: flex;
	margin-right: 10px;
}

.aMenuStyle {
    text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	color: white;
	font-size: 14px;
	padding: 0 10px;

}

nav a:hover {
	background-color: #1A3039;
}
